<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campista Bartolo</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>
        <h2>El Campista Bartolo</h2>
    </header>
    <section>
        <article>
            <img src="img/Campista_RAA.png" alt="" width="260" height="240">
            <p>El campista Bartolo posee una mirada desafiante y debe ser uno de los más temidos debido a la cantidad y calidad de pokemons que posee.</p>
            <p>Lo podemos encontrar en la ruta 9.</p>
            <h3>Pokemons que posee: </h3>
            <ul>
                <li>Ratata Nv.19 <br> <img src="img/Rattata.png" alt="Ratata"></li>
                <li>Digglet Nv.19 <br> <img src="img/Diglett.png" alt="Digglet"></li>
                <li>Ekkans Nv.19 <br> <img src="img/Ekans.png" alt="Ekans" width="260" height="240"></li>
                <li>Sandshrew Nv.19 <br> <img src="img/Sandshrew.png" alt="Sandshrew"></li>
            </ul>
        </article>
        <article>
            <p><a href="chicaAndrea">Número 3</a></p>
            <p><a href="/">Volver al menu principal</a></p>
        </article>
    </section>
</body>
</html>