<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cazabichos Cornelio</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>
        <h2>El Cazabichos Cornelio</h2>
    </header>
    <section>
        <article>
            <img src="img/Cazabichos_RAA.png" alt="Cazabichos" width="260" height="240">
            <p>Mucho se ha teorisado de este Entrenador, desde que el inicio todo junto al Dios Arceus o que ha sido responsable de varias catastrofes.</p>
            <p>Lo cierto es que se desconoce su paradero y lo mejor es evitarlo a menos que quieras terminar asi en las puertas del centro Pokemon más cercano:</p>
            <img src="img/200.gif" alt="">
            <h3>Nivel de Pelea:</h3>
            <img src="img/Its_over_9000.gif" alt="" width="260" height="240">
            <h3>Pokemons que posee: </h3>
            <ul>
                <li>Metapod Nv??? <br> <img src="img/Metapod.png" alt="Metapod"  width="260" height="240"></li>
                <li>Metapod Nv???<br> <img src="img/Metapod.png" alt="Metapod"  width="260" height="240"></li>
                <li>Metapod Nv???<br> <img src="img/Metapod.png" alt="Metapod"  width="260" height="240"></li>
                <li>Metapod Nv???<br> <img src="img/Metapod.png" alt="Metapod"  width="260" height="240"></li>
                <li>Metapod Nv???<br> <img src="img/Metapod.png" alt="Metapod"  width="260" height="240"></li>
                <li>Metapod Nv???<br> <img src="img/Metapod.png" alt="Metapod"  width="260" height="240"></li>
            </ul>
            <h4 style="color: red;">La única estrategia que se conoce para vencerlo es apagar la consola</h4>
        </article>

        <article>
            <p><a href="/">Volver al menu principal</a></p>
        </article>
    </section>
</body>
</html>