<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chica Andrea</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>
        <h2>La Chica Andrea</h2>
    </header>
    <section>
        <article>
            <img src="img/Chica_RAA.png" alt="" width="260" height="240">
            <p>No te dejes engañar por los 3 Meowths que posee, ella los ha entrenado bien y te puedes llevar una sorpresa.</p>
            <p>La podemos encontrar en la ruta 8.</p>
            <h3>Pokemons que posee: </h3>
            <ul>
                <li>Meowth Nv.24 <br> <img src="img/Meowth.png" alt="Meowth"  width="260" height="240"></li>
                <li>Meowth Nv.24 <br> <img src="img/Meowth.png" alt="Meowth"  width="260" height="240"></li>
                <li>Meowth Nv.24 <br> <img src="img/Meowth.png" alt="Meowth"  width="260" height="240"></li>
            </ul>
        </article>
        <article>
            <p><a href="montaneroEvaristo">Número 2</a></p>
            <p><a href="/">Volver al menu principal</a></p>
        </article>
    </section>
</body>
</html>