<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke Top</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>
        <h1>Top 5 Entrenadores de Ruta más fuertes en Pokemon Rojo</h1>
    </header>
    <section>
        <article>
            <p>A lo largo de la saga Pokemon muchos han sido los enfrentamientos que hemos tenido pero algunos son mas memorables que otros, por eso los entrenadores al rededor del mundo se han puesto de acuerdo para entregarnos esta lista con los entrenadores de ruta mas fuertes del juego. </p>
            <p>Estan listos?</p>
            <img src="img/tenor.gif" alt="gif de hype" width="260" height="260">            
        </article>
        <article>
            <p><a href="jovenPepe">Número 5</a></p>
        </article>
    </section>
</body>
</html>