<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joven Pepe</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <h2>El Joven Pepe</h2>
    <img src="img/Joven_en_ruby_zafiro_esmeralda.png" alt="">
    <p>Temido entre varios entrenadores, el Joven pepe se encuentra en la ruta 25</p>
    <p>Su especialidad es buscar pelea cuando menos te lo esperas y entrena todo tipo de Pokemons.</p>
    <h3>Pokemons que posee: </h3>
    <ul>
        <li>Ratata Nv.15 <br> <img src="img/Rattata.png" alt="Ratata"></li>
        <li>Spearrow Nv.15 <br> <img src="img/Spearow.png" alt="Spearow"></li>
    </ul>
    <p><a href="campistaBartolo">Número 4</a></p>
    <p><a href="/">Volver al menu principal</a></p>
</body>
</html>