<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montañero Evaristo</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>
        <h2>El Montañero Evaristo</h2>
    </header>
    <section>
        <article>
            <img src="img/Montanero_RAA.png" alt="Montañero" width="260" height="240">
            <p>El Montañero Evaristo es el Montañero mas Temido ya que el se ha criado en la montaña y al parecer no sale nunca, se podria decir que se ha echo uno con la roca o duro como la roca?</p>
            <p>Lo podemos encontrar en el Tunel Roca.</p>
            <h3>Pokemons que posee: </h3>
            <ul>
                <li>Onix Nv.20 <br> <img src="img/Onix.png" alt="Onix"  width="260" height="240"></li>
                <li>Geodude Nv.22 <br> <img src="img/Geodude.png" alt="Geodude"  width="260" height="240"></li>
                <li>Graveler Nv.25 <br> <img src="img/Graveler.png" alt="Graveler"  width="260" height="240"></li>
            </ul>
            <h4 style="color: red;">Peligro! Se podria decir que Graveler tiene un Temperamento Explosivo!</h4>
        </article>
        <article>
            <p><a href="cazabichosCornelio">Número 1 la pesadilla de todo Entrenador</a></p>
            <p><a href="/">Volver al menu principal</a></p>
        </article>
    </section>
</body>
</html>